
<!--header-->
<header class="header-mode-1 force-dark no-banner">
    <div class="container wider">
        <nav>
            <a role="button" aria-label="展开导航" class="toggle" target="_self" href="javascript:void(0);" onclick="VOID_Ui.toggleNav(this);">
                <span></span>
            </a>
            <a class="brand" href="http://localhost/typecho/index.php/">Hello World</a>
            <a href="http://localhost/typecho/index.php/">首页</a>
            <a href="http://localhost/typecho/index.php/start-page.html">关于</a>                <span class="dropdown">分类
                    <ul>
                        <li><a href="http://localhost/typecho/index.php/category/default/">默认分类</a></li>                    </ul>
                </span>
            <span class="hidden-xs search-form-desktop">
                        <label for="search">搜索</label>
                        <input onkeydown="VOID.enterSearch(this);" type="text" name="search-content" id="search" required="">
                    </span>
            <a role="button" aria-label="展开搜索" id="toggle-mobile-search" target="_self" href="javascript:void(0);" onclick="VOID_Ui.toggleSearch(this);">
                <i class="voidicon-search"></i>
            </a>
            <a target="_self" href="javascript:void(0);" id="toggle-setting" onclick="VOID_Ui.toggleSettingPanel();"><i class="voidicon-cog"></i></a>
        </nav>
    </div>
    <div class="mobile-search-form">
        <label for="search_new">搜索</label>
        <input onkeydown="VOID.enterSearch(this);" type="text" name="search-content" id="search_new" required="" placeholder="输入内容然后 Go!">
        <button onclick="VOID.startSearch('#search_new');">Go!</button>
    </div>
</header>

<!--nav-mobile-->
<div id="nav-mobile">
    <section id="pages" data-title="PAGES">
        <nav>
            <a href="http://localhost/typecho/index.php/start-page.html">关于</a>            </nav>
    </section>
    <section id="categories" data-title="CATEGORIES">
        <nav>
            <a href="http://localhost/typecho/index.php/category/default/">默认分类</a>            </nav>
    </section>
</div>