<main id="pjax-container">
    <title hidden="">
        Hello World    </title>


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "publisher": {
                "@type": "Organization",
                "name": "Hello World",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://secure.gravatar.com/avatar/20a5844bc608d51cdbe28b74495f809d?s=200&amp;r=&amp;d="
                }
            },
            "url": "http://localhost/typecho/index.php/",
            "image": {
                "@type": "ImageObject",
                "url": ""
            },
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "http://localhost/typecho/index.php/"
            },
            "description": "Just So So ..."
        }
    </script>

    <div class="lazy-wrap
     no-banner index">

        <script>$('body>header').addClass('force-dark').addClass('no-banner');</script>
        <style>main>.lazy-wrap{min-height: 0;}</style>

        <div class="banner-title index">
            <h1 class="post-title"><span class="brand"><span>Hello World</span></span><br><span class="subtitle">Just So So ...</span></h1>
        </div>
    </div>
    <div class="wrapper container wide">
        <section id="index-list" class="float-up">
            <ul id="masonry" class="masonry" style="position: relative; height: 229.531px;">
                <li id="p-1" class="masonry-item style-0 masonry-ready done" style="position: absolute; left: 0px; top: 0px;">

                    <a href="http://localhost/typecho/index.php/archives/1/">
                        <article class="yue">
                            <div class="content-wrap">
                                <div class="post-meta-index">
                                    <time datetime="2024-07-05T12:11:59+02:00">Jul 05, 2024</time>
                                    <span class="word-count">+ 21 字</span>
                                </div>

                                <h1 class="title">欢迎使用 Typecho</h1>


                                <div class="articleBody">
                                    <p>如果您看到这篇文章，表示您的 blog 已经安装成功.</p>
                                </div>

                            </div>
                        </article>
                    </a>
                    <div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div class="resize-sensor-expand" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 450px; height: 210px;"></div></div><div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 200%; height: 200%;"></div></div></div></li>
                <script>VOID_Ui.MasonryCtrler.watch("p-1");</script>
            </ul>
        </section>
    </div>
</main>