<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{_layout :: html(head = null,content = ~{::content}, sidebar = ~{::sidebar}, have_comment = 1, class = 'index posts-expand', is_home = 1,is_archive = 0)}"
>
  <!--文章-->
  <th:block th:fragment="content">
    <!--文章区-->
    <th:block th:replace="~{_macro/post :: post(post = ${post},is_index = 0)}"></th:block>
  </th:block>
  <th:block th:fragment="sidebar" th:replace="~{_macro/sidebar::render(display_toc=1)}"></th:block>

</html>