<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{_layout :: html(head = null,content = ~{::content}, sidebar = ~{::sidebar}, have_comment = 0, class = 'tag posts-collapse', is_home = 1, is_archive = 0)}"
>
    <!--分类集合-->
    <th:block th:fragment="content">
        <div class="post-block animated fadeIn">
            <div class="post-content">
                <div class="collection-title">
                    <h1 th:text="${tag.spec.displayName}" class="collection-header animated fadeInLeft">Another Tag
                        <small>标签</small>
                    </h1>
                </div>




                <article itemscope="" itemtype="http://schema.org/Article">
                    <header class="post-header animated fadeInDown" th:each="post : ${posts.items}">
                        <div class="post-meta-container">
                            <time itemprop="dateCreated" datetime="2024-07-09T23:24:17+08:00" content="2024-07-09" th:text="${#dates.format(post.metadata.creationTimestamp,'yyyy-MM-dd')}">
                                07-09
                            </time>
                        </div>

                        <div class="post-title">
                            <a th:href="${post.status.permalink}" class="post-title-link" itemprop="url">
                                <span itemprop="name" th:text="${post.spec.title}">test-tag</span>
                            </a>
                        </div>


                    </header>
                </article>

            </div>
        </div>
    </th:block>
    <th:block th:fragment="sidebar" th:replace="~{_macro/sidebar::render(display_toc=0)}"></th:block>

</html>
