<!--头像区域-->
<div class="site-author animated" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
    <th:block th:if="${theme.config.sidebar.avatar.url ne ''}">
        <img class="site-author-image" itemprop="image" alt="" th:src="${theme.config.sidebar.avatar.url}">
    </th:block>
    <img th:if="${theme.config.sidebar.avatar.url eq ''}" class="site-author-image" itemprop="image" alt="" th:src="${site.logo}">
    <p class="site-author-name" itemprop="name" th:text="${theme.config.sidebar.author.name}">bit15k</p>
    <div class="site-description" itemprop="description" th:text="${theme.config.sidebar.author.desc}">作者描述</div>
</div>
<!--统计栏-->
<div class="site-state-wrap animated" th:if="${theme.config.sidebar.site_state eq 1}">
    <nav class="site-state" th:with="stats = ${siteStatsFinder.getStats()}">
        <div class="site-state-item site-state-posts">
            <a href="/archives">
                <span class="site-state-item-count" th:text="${stats.post}">85</span>
                <span class="site-state-item-name">文章</span>
            </a>
        </div>
        <div class="site-state-item site-state-categories">
            <a href="/categories">
                <span class="site-state-item-count" th:text="${stats.category}">2</span>
                <span class="site-state-item-name">分类</span></a>
        </div>
        <div class="site-state-item site-state-tags">
            <a href="/tags" th:with="tags = ${tagFinder.listAll()}">
                <span class="site-state-item-count" th:text="${#lists.size(tags)}">2</span>
                <span class="site-state-item-name">标签</span></a>
        </div>
    </nav>
</div>
<!--社交信息栏目-->
<th:block th:if="${theme.config.sidebar.social.enabled eq 1}">
<div class="links-of-author animated">
    <th:block th:each="account:${theme.config.sidebar.social.account}">
      <span class="links-of-author-item">
            <a th:href="${account.url}" th:title="${account.name}+' → '+${account.url}"
               rel="noopener me" target="_blank">
                <i th:class="${account.icon}+' fa-fw'"></i><span th:if="${theme.config.sidebar.social.icons_only ne 1}" th:text="${account.name}">社交名称</span>
            </a>
      </span>
    </th:block>
</div>
</th:block>
<!--版权许可信息-->
<th:block th:if="${theme.config.basic.creative_commons.enabled eq 1 and theme.config.basic.creative_commons.sidebar eq 1}">
    <div class="cc-license animated" itemprop="license" th:switch="${theme.config.basic.creative_commons.license}">
        <th:block th:case="by">
            <a href="https://creativecommons.org/licenses/by/4.0/" class="cc-opacity" rel="noopener" target="_blank">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/creativecommons-vocabulary/2020.11.3/assets/license_badges/small/by.svg" alt="Creative Commons">
            </a>
        </th:block>
        <th:block th:case="by-nc">
            <a href="https://creativecommons.org/licenses/by-nc/4.0/" class="cc-opacity" rel="noopener" target="_blank">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/creativecommons-vocabulary/2020.11.3/assets/license_badges/small/by_nc.svg" alt="Creative Commons">
            </a>
        </th:block>
        <th:block th:case="by-nc-nd">
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="cc-opacity" rel="noopener" target="_blank">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/creativecommons-vocabulary/2020.11.3/assets/license_badges/small/by_nc_nd.svg" alt="Creative Commons">
            </a>
        </th:block>
        <th:block th:case="by-nc-sa">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="cc-opacity" rel="noopener" target="_blank">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/creativecommons-vocabulary/2020.11.3/assets/license_badges/small/by_nc_sa.svg" alt="Creative Commons">
            </a>
        </th:block>
        <th:block th:case="by-nd">
            <a href="https://creativecommons.org/licenses/by-nd/4.0/" class="cc-opacity" rel="noopener" target="_blank">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/creativecommons-vocabulary/2020.11.3/assets/license_badges/small/by_nd.svg" alt="Creative Commons">
            </a>
        </th:block>
        <th:block th:case="by-sa">
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="cc-opacity" rel="noopener" target="_blank">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/creativecommons-vocabulary/2020.11.3/assets/license_badges/small/by_sa.svg" alt="Creative Commons">
            </a>
        </th:block>
        <th:block th:case="cc-zero">
            <a href="https://creativecommons.org/licenses/zero/1.0/" class="cc-opacity" rel="noopener" target="_blank">
                <img src="https://cdnjs.cloudflare.com/ajax/libs/creativecommons-vocabulary/2020.11.3/assets/license_badges/small/cc_zero.svg" alt="Creative Commons">
            </a>
        </th:block>

    </div>
</th:block>